# ===================================================
# Python
# ===================================================

__pycache__/
*.py[cod]
*.pyo

# ===================================================
# Virtual Environments
# ===================================================

.venv/
venv/
env/

# ===================================================
# Jupyter
# ===================================================

.ipynb_checkpoints/

# ===================================================
# VS Code
# ===================================================

.vscode/

# ===================================================
# Dataset
# ===================================================

dataset/raw/
dataset/processed/

# ===================================================
# Logs
# ===================================================

*.log

# ===================================================
# Temporary Files
# ===================================================

*.tmp
*.bak

# ===================================================
# OS
# ===================================================

.DS_Store
Thumbs.db